body {
    margin: unset;
    background: rgb(152, 193, 255);
    height: 100dvh;
    width: 100dvw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.viewer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title {
}

h1 {
    color: black;
    font-size: 3rem;
}

h2 {
    text-align: center;
}

.centered {
    text-align: center;
}

#database-info-card {
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.card {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s ease-in;
}
.card:hover {
    transition: all 0.3s ease-in;
    translate: -5px -5px;
}

.card-title {
    color: black;
    font-size: 14px;
    flex-grow: 1;
}
